<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="background-color: white; padding-top: 25px; padding-bottom: 15px" class="container-fluid rounded">
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')" class="nav-link active" aria-current="page" th:href="@{/cars/all}">Cars</a>
                </li>
                <li  class="nav-item">
                    <a sec:authorize="hasAuthority( 'ADMIN')" class="nav-link" th:href="@{/branches/all}">Branches</a>
                </li>

                <li  class="nav-item">
                    <a sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')" class="nav-link" th:href="@{/reservations/all}">Reservations</a>
                </li>

                <li class="nav-item">
                    <a sec:authorize="hasAuthority('CUSTOMER')" class="nav-link" th:href="@{'/users/reservations/' + ${#authentication.getPrincipal().id}}">My Reservations</a>
                </li>

                <li class="nav-item">
                    <a sec:authorize="hasAuthority( 'ADMIN')" class="nav-link" th:href="@{/users/all}">Users</a>
                </li>


            </ul>

            <div style="padding-right: 50px">

                <form th:if="${#authorization.expression('isAuthenticated()')}" class="form-check-inline" method="get"  th:action="@{/logout}">
                    <button  class="btn btn-outline-danger m-1" type="submit" style="width: 110px">Sign Out</button>
                </form>

                <form th:if="! ${#authorization.expression('isAuthenticated()')}" class="form-check-inline" method="get" th:action="@{/sign-up}">
                    <button class="btn btn-outline-dark m-1" type="submit" style="width: 110px">Register</button>
                </form>

                <a th:if="! ${#authorization.expression('isAuthenticated()')}" class="btn btn-outline-dark m-1" style="width: 110px" th:href="@{/login}">Sign In</a>



            </div>

        </div>
    </div>
</nav>
</body>
</html>