<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branches</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<div class="container-fluid text-center">
    <div>
        <a class="btn btn-outline-success m-3" style="width: 30%" th:href="@{/branches/new}">Add New Branch</a>
    </div>


    <div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>

    <div th:if="${message}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-success" role="alert">
                [[${message}]]
            </div>
        </div>
    </div>

    <div style="max-width: 60%; margin: 0 auto">
        <table class="table">
            <thead class="black-05">
            <tr>
                <th scope="col">Branch ID</th>
                <th scope="col">Branch Address</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="branch : ${listBranches}">
                <tr style="text-align: center; vertical-align: middle">
                    <td>[[${branch.id}]]</td>
                    <td>[[${branch.BranchAddress}]]</td>
                    <td><a class="btn btn-outline-warning no-margin" style="width: 150px"
                           th:href="@{'/branches/edit/'+ ${branch.id}}">Update</a></td>
                    <td><a class="btn btn-outline-danger no-margin" style="width: 150px"
                           onclick="return confirm('Are you sure you want to delete this branch?');"
                           th:href="@{'/branches/delete/' + ${branch.id}}"
                    >Delete</a></td>

            </th:block>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>