<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<!--<div th:replace="fragments/navigation :: navbar">...</div>-->
<div class="container-fluid" style="margin: 10% auto">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/cars/save}" method="post" th:object="${car}" enctype="multipart/form-data"
          style="max-width: 500px; margin: 0 auto;">

        <input type="hidden" th:field="*{id}" th:value="${car.id}">


        <div class="border border-secondary rounded p-3">
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Add Picture</label>
                <div class="col-sm-8">
                    <input type="file" name="fileImage" id="fileImage" accept="image/jpeg, image/png, image/heic"
                           required>
                    <p>
                        <img style="width: 200px;" id="thumbnail" src="#" th:src="@{${car.carImagePath}} "
                             alt="Car Image Preview"/>
                    </p>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Brand</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{brand}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Model</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{model}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Body Type</label>
                <div class="col-sm-8">
                    <select th:field="*{bodyType}" class="form-control" required>

                        <option value="" selected disabled hidden>Chose Body Type</option>
                        <option value="SUV">SUV</option>
                        <option value="Hatchback">Hatchback</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Convertible">Convertible</option>
                        <option value="Minivan">Minivan</option>

                    </select>



                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Year</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{year}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Color</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{color}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Mileage</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{mileage}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">

                    <select th:field="*{status}" class="form-control" required>

                        <option value="" selected disabled hidden>Choose Status</option>
                        <option value="Available">Available</option>
                        <option value="Booked">Booked</option>
                        <option value="Unavailable">Unavailable</option>

                    </select>

                </div>
            </div>
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Amount</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{amount}" class="form-control" required/>
                </div>
            </div>


            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Branch Location</label>
                <div class="col-sm-8">
                    <select th:field="*{branch}" class="form-control">
                        <th:block th:each="branch : ${listBranches}">
                            <option th:text="${branch.branchAddress}" th:value="${branch.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-secondary m-4" onclick="cancelForm()" style="width: 100px">Cancel</button>
                <button type="submit" class="btn btn-primary m-4" style="width: 100px">Save</button>

            </div>

        </div>


    </form>

</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/cars/all}]]";
    }

    fileImage.onchange = evt => {
        const [file] = fileImage.files
        if (file) {
            thumbnail.src = URL.createObjectURL(file)
        }
    }
</script>

</body>
</html>