<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<table class="table">
    <thead>
    <tr>

        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Body Type</th>
        <th scope="col">Color</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${car}">

        <td th:text="${car.brand}">bmw</td>
        <td th:text="${car.model}">x5</td>
        <td th:text="${car.bodyType}">suv</td>
        <td th:text="${car.color}">black</td>
        <td th:text="${car.status}">available</td>
    </tr>

    </tbody>
</table>

<!--<div th:each="pet : ${petList}">-->
<!--    <div>Name:-->
<!--        <div th:text="${pet.name}"></div>-->
<!--    </div>-->
<!--    <div>Age:-->
<!--        <div th:number="${pet.age}"></div>-->
<!--    </div>-->
<!--    <div>Type:<div th:text="${pet.type}"></div></div>-->
<!--</div>-->


</body>
</html>