<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<div class="container-fluid text-center">
    <div>
        <a class="btn btn-outline-success m-3" style="width: 30%" th:href="@{/cars/new}">Add New Car</a>
    </div>


    <div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>

    <div th:if="${message}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-success" role="alert">
                [[${message}]]
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="black-05">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Body Type</th>
            <th scope="col">Color</th>
            <th scope="col">Status</th>
            <th scope="col">Price per day</th>
            <th scope="col">Branch Location</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="car : ${listCars}">
            <tr style="text-align: center; vertical-align: middle">
                <td>[[${car.id}]]</td>
                <td>

                    <img class="img-thumbnail" style="width: 250px;" th:src="@{${car.carImagePath}} " alt="Car Image">
                </td>
                <td>[[${car.brand}]]</td>
                <td>[[${car.model}]]</td>
                <td>[[${car.bodyType}]]</td>
                <td>[[${car.color}]]</td>
                <td>[[${car.status}]]</td>
                <td>[[${car.amount}]]</td>
                <td>[[${car.branch.branchAddress}]]</td>
                <td><a sec:authorize="hasAuthority( 'ADMIN')" class="btn btn-outline-info no-margin" style="width: 150px" th:href="@{'/cars/changepicture/'+ ${car.id}}">Change
                    Picture</a></td>
                <td><a class="btn btn-outline-warning no-margin" style="width: 150px" th:href="@{'/cars/edit/'+ ${car.id}}">Update</a></td>
                <td><a sec:authorize="hasAuthority( 'ADMIN')" class="btn btn-outline-danger no-margin" style="width: 150px"
                       onclick="return confirm('Are you sure you want to delete this car?');"
                       th:href="@{'/cars/delete/' + ${car.id}}"
                >Delete</a></td>

        </th:block>
        </tr>

        </tbody>
    </table>
</div>


</body>
</html>