<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To My App</title>

    <script src=
                    "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity=
                    "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"


    </script>
    <script src=
                    "https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity=
                    "sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        function GetDays() {
            var dropdt = new Date(document.getElementById("drop_date").value);
            var pickdt = new Date(document.getElementById("pick_date").value);
            return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
        }

        function cal() {
            if (document.getElementById("drop_date")) {
                document.getElementById("numdays2").value = GetDays();
            }
        }

    </script>

    <script>
        function yourFunction() {
            var action_src = "/cars/inbranch/" + document.getElementsByName("keywords")[0].value + "/"
                + document.getElementById("pick_date").value + "/" + document.getElementById("drop_date").value;
            var your_form = document.getElementById('your_form');
            your_form.action = action_src;
        }

    </script>


</head>
<div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>

<div style="margin-left: 20px">
<div th:if="${#authorization.expression('isAuthenticated()')}">
    Hello, <span th:text="${#authentication.getPrincipal().name} "></span>!
    <div  sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')">

        You have <span th:text="${#authentication.getPrincipal().userRole.name} "></span> permissions


    </div>




</div>
</div>

<div class="container-fluid text-center rounded" th:style="'background: url(/car-pictures/background/background.jpeg)' "
     style="margin: 0 auto;">
    <div style="padding-top: 35px; padding-bottom: 35px">
        <h1 style="color: white">Welcome to This Awesome Car Rental</h1>
    </div>


</div>

<div class="container-fluid  rounded " style="background-color: darkcyan">



    <form id="your_form" onsubmit="yourFunction()" class="rounded"
          style="max-width: 500px; margin: 0 auto; padding-top: 30px; padding-bottom: 30px;">


        <div class="form-group row m-2">
            <label class="col-sm-4 col-form-label">Pick-up Location</label>

            <div class="col-sm-8">
                <select id="myselect" type="text" name="keywords" class="form-control" required>
                    <option value="" selected disabled hidden>Choose Pick-up Location</option>
                    <th:block th:each="branch : ${listBranches}">

                        <option th:text="${branch.branchAddress}" th:value="${branch.id}" th:required="true"/>
                    </th:block>
                </select>
            </div>
        </div>


        <div class="form-group row m-2">
            <label class="col-sm-4 col-form-label">Pick-up Date</label>
            <div class="col-sm-8">
                <input type="date" id="pick_date" placeholder="yyyy-MM-dd" onchange="cal(); dropminmaxdate()" class="form-control" required
                />

            </div>
        </div>

        <div class="form-group row m-2">
            <label class="col-sm-4 col-form-label">Return Date</label>
            <div class="col-sm-8">
                <input type="date" id="drop_date" placeholder="yyyy-MM-dd" onchange="cal()" class="form-control"
                       required/>
            </div>
        </div>

        <div class="form-group row m-2 " id="numdays" hidden>
            <label class="col-sm-4 col-form-label">Number of days: </label>
            <div class="col-sm-8">
                <input class="form-control-plaintext" type="text" id="numdays2" name="numdays" readonly/>
            </div>
        </div>


        <!--        <input type="text" name="keywords">-->
        <div class=" text-center p-3">
            <input type="submit" class="btn btn-outline-warning no-margin" value="Get a Ride">
        </div>


    </form>

</div>

<div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
    <div>
        <div class="alert alert-info" role="alert">
            [[${warningMessage}]]
        </div>
    </div>
</div>

<div th:if="${listCars}" class="container-fluid  rounded " style="background-color:lightgrey">

    <div class="text-center" style="padding-top: 20px; padding-bottom: 20px; margin: 0 auto">
        <h6 th:if="${listCars}" scope="col"><b>  <br>Here You Go! </br>
            <br>Available rides for [[${chosenBranch}]]
            <br> Reservation period: From [[${pickUp}]] To [[${dropOff}]]
            <br>Reservation period is [[${days}]] <span th:if="${days} > 1" >days</span> <span th:if="${days} == 1">day</span>
            </br>

        </b></h6>
    </div>


    <table th:if="${listCars}" class="table" style="max-width: 1000px; margin: 0 auto">
        <tbody>

        <th:block th:each="car : ${listCars}">
            <tr style="text-align: center; vertical-align: middle">
                <td>
                    <img class="img-thumbnail" style="width: 250px;" th:src="@{${car.carImagePath}}">
                </td>
                <td>
                    <b>[[${car.brand}]]</b>
                    <b>[[${car.model}]] </b>
                </td>

                <td>[[${car.year}]]</td>
                <td>

                    Price Per Day: €[[${car.amount}]]
                    <p><b>Price Per Period: €[[${car.amount}*${days}]]</b></p>


                </td>
                <td>

                    <a class="btn btn-outline-secondary no-margin" th:href="@{'/reservations/new/' + ${car.id} + '/'
                     + ${pickUp} + '/' + ${dropOff} + '/'
                     + ${days}}">
                        Book This Car</a>
                </td>


        </th:block>
        </tr>

        </tbody>
    </table>
</div>


</div>

<script type="text/javascript">
    var date = new Date();
    var tdate = date.getDate() + 1;
    if (tdate < 10) {
        tdate = '0' + tdate;
    }
    var month = date.getMonth() + 1;
    if (month < 10) {
        month = '0' + month;
    }
    var year = date.getFullYear();
    var mindate = year + "-" + month + "-" + tdate;
    document.getElementById("pick_date").setAttribute('min', mindate)


    function dropminmaxdate() {
        var pickdate = new Date(document.getElementById("pick_date").value);
        var dropdate = pickdate.getDate() + 1;
        if (dropdate < 10) {
            dropdate = '0' + dropdate;
        }

        var drmonth = pickdate.getMonth() + 1;
        if (drmonth < 10) {
            drmonth = '0' + drmonth;
        }
        var dryear = pickdate.getFullYear();
        var drmindate = dryear + "-" + drmonth + "-" + dropdate;
        document.getElementById("drop_date").setAttribute('min', drmindate)
        document.getElementById("drop_date").value = drmindate;


        var datemaxi = pickdate.setDate(pickdate.getDate() + 30);
        var dropdatemax = new Date(datemaxi);

        var datemax = dropdatemax.getDate();
        if (datemax < 10) {
            datemax = '0' + datemax;
        }

        var monthmax = dropdatemax.getMonth() + 1;
        if (monthmax < 10) {
            monthmax = '0' + monthmax;
        }
        var yearmax = dropdatemax.getFullYear();
        var dropmaxdate = yearmax + "-" + monthmax + "-" + datemax;
        document.getElementById("drop_date").setAttribute('max', dropmaxdate)


    }


</script>


</body>
</html>