<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Reservation</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>


<div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
    <div>
        <div class="alert alert-danger" role="alert">
            [[${warningMessage}]]
        </div>
    </div>
</div>

<div th:if="${message}" class="container-fluid" style="max-width: 500px">
    <div>
        <div class="alert alert-success text-center" role="alert">
            [[${message}]]
        </div>
    </div>
</div>

<div th:if="${infomessage}" class="container-fluid" style="max-width: 500px">
    <div>
        <div class="alert alert-info text-center" role="alert">
            [[${infomessage}]]
        </div>
    </div>
</div>


<div class="container-fluid container-lg">

    <div class="text-center p-5">
        <h6><b>Your reservation details</b></h6>
    </div>

    <table class="table">
        <thead class="black-05">
        <tr class="text-center">
            <th scope="col">Car</th>
            <th scope="col">Pick-up Location</th>
            <th scope="col">Pick-up Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Return Location</th>
            <th scope="col">Price Paid</th>

            <th></th>
        </tr>
        </thead>
        <tbody>

        <div th:if="reservation">
        <th:block th:each="reservation : ${reservation}">
            <tr class="text-center">

                <td th:text="${reservation.car.brand} + ' ' + ${reservation.car.model}">bmw</td>
                <td th:text="${reservation.branch.branchAddress}">x5</td>
                <td th:text="${reservation.dateFrom}">suv</td>
                <td th:text="${reservation.dateTo}">black</td>
                <td th:text="${reservation.returnDepartment}">available</td>
                <td th:text="'€' + ${reservation.amount}">available</td>
        </th:block>
        </tr>

        </div>

        <div th:if="listReservations">
        <th:block th:each="reservation : ${listReservations}">
            <tr class="text-center">

                <td th:text="${reservation.car.brand} + ' ' + ${reservation.car.model}">bmw</td>
                <td th:text="${reservation.branch.branchAddress}">x5</td>
                <td th:text="${reservation.dateFrom}">suv</td>
                <td th:text="${reservation.dateTo}">black</td>
                <td th:text="${reservation.returnDepartment}">available</td>
                <td th:text="'€' + ${reservation.amount}">available</td>
        </th:block>
        </tr>

        </div>

        </tbody>
    </table>


</div>


</body>
</html>