<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<div class="container-fluid text-center">


    <div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>

    <div th:if="${message}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-success" role="alert">
                [[${message}]]
            </div>
        </div>
    </div>


    <table class="table">
        <thead class="black-05">
        <tr>

            <th scope="col">Reservation Id</th>
            <th scope="col">Booking Date</th>
            <th scope="col">Pick-up Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Pick-up Location</th>
            <th scope="col">Return Location</th>
            <th scope="col">Car ID</th>
            <th scope="col">Customer ID</th>
            <th ></th>
            <th ></th>

            <th></th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="reservation : ${listReservations}">
            <tr>
                <td>[[${reservation.id}]]</td>
                <td>[[${reservation.dateOfBooking}]]</td>
                <td>[[${reservation.dateFrom}]]</td>
                <td>[[${reservation.dateTo}]]</td>
                <td>[[${reservation.amount}]]</td>
                <td>[[${reservation.branch.branchAddress}]]</td>
                <td>[[${reservation.returnDepartment}]]</td>
                <td>[[${reservation.car.id}]]</td>
                <td>[[${reservation.user.id}]]</td>

                <td><a class="btn btn-outline-warning no-margin" style="width: 150px"
                       th:href="@{'/reservations/edit/'+ ${reservation.id}}">Update</a></td>
                <td><a sec:authorize="hasAuthority( 'ADMIN')" class="btn btn-outline-danger no-margin" style="width: 150px"
                       onclick="return confirm('Are you sure you want to delete this reservation?');"
                       th:href="@{'/reservations/delete/' + ${reservation.id}}"
                >Delete</a></td>

        </th:block>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>