<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Page</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>

<div class="container-fluid" style="margin: 10% auto">
    <div class="text-center"><h2>Reservation Step 1 (Car details)</h2></div>


    <div th:if="${warningMessage}" class="container-fluid text-center" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function GetDays() {
            var dropdt = new Date(document.getElementById("drop_date").value);
            var pickdt = new Date(document.getElementById("pick_date").value);
            return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
        }

        function cal() {
            if (document.getElementById("drop_date")) {
                document.getElementById("numdays2").value = GetDays();
            }
        }

    </script>

    <script type="text/javascript">
        document.getElementById("pickUpDate").value = 'pickDate';
    </script>


    <form th:action="@{/users/new}" method="get" th:object="${reservation}"
          style="max-width: 700px; margin: 0 auto;">


        <div class="border border-secondary rounded p-3">

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Car</label>
                <div class="col-sm-8 col-auto">
                    <select th:field="*{car}" class="form-control">
                        <th:block>
                            <option th:text="${car.brand} + ' ' + ${car.model} + '; Price Per Day: €' + ${car.amount}"
                                    th:value="${car.id}" th:otherValue="${car.amount}" id="chosenCar"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Date</label>
                <div class="col-sm-8">
                    <input class="form-control" id="pickUpDate" type="text" name="dateFrom"
                           th:value="${reservationDto.dateFrom}" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="dateTo"

                           th:value="${reservationDto.dateTo}"
                           required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Location</label>
                <div class="col-sm-8">
                    <select th:field="*{branch}" class="form-control" required>
                        <th:block>
                            <option th:text="${car.branch.branchAddress}" th:value="${car.branch.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>


            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Location</label>
                <div class="col-sm-8">
                    <input type="text" name="returnDepartment" th:value="${car.branch.branchAddress}"
                           class="form-control" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2" id="result">
                <label class="col-sm-4 col-form-label">Amount of Booking</label>
                <div class="col-sm-8">
                    <input type="number" name="amount"
                           th:value="${reservationDto.amount}" class="form-control form-control" required readonly/>
                </div>
            </div>


            <div class="text-center">
                <button type="button" class="btn btn-outline-dark no-margin" onclick="cancelForm()" style="width: 150px">Cancel</button>
                <button type="button" class="btn btn-outline-dark m-4" onclick="goBackForm()" style="width: 150px">Go Back</button>
                <button th:if="${! #authorization.expression('isAuthenticated()')}" type="submit" class="btn btn-primary m-4" >Proceed To Reservation</button>
                <button th:if="${#authorization.expression('isAuthenticated()')}" type="submit" class="btn btn-primary m-4"
                        th:formaction="@{'/users/login/' + ${#authentication.getPrincipal().email}}" formmethod="get" >Proceed To Reservation</button>
            </div>


        </div>
    </form>

</div>


<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/home}]]";
    }

    function goBackForm() {
        history.go(-1);
    }


</script>

<style>
    input.form-control:read-only {
        background-color: #fff;
    }
</style>

</body>
</html>