<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>

<div class="container-fluid" style="margin: 10% auto">


    <div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-info" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>


    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

    <form th:action="@{/reservations/update}" method="post" th:object="${reservation}"
          style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <input type="hidden" th:field="*{id}" th:value="${reservation.id}">



            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Booking Date</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dateOfBooking}" class="form-control" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Date</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dateFrom}" class="form-control" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Date</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{dateTo}" class="form-control" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Total Amount</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{amount}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Location</label>
                <div class="col-sm-8">
                    <select th:field="*{branch}" class="form-control">
                        <th:block th:each="branch : ${listBranches}">
                            <option th:text="${branch.branchAddress}" th:value="${branch.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Location</label>
                <div class="col-sm-8">
                    <select th:field="*{returnDepartment}" class="form-control" required>
                        <th:block th:each="branch : ${listBranches}">
                            <option th:text="${branch.branchAddress}" th:value="${branch.branchAddress}"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Car ID</label>
                <div class="col-sm-8">
                    <select th:field="*{car}" class="form-control">
                        <th:block th:each="car : ${listCars}">
                            <option th:text="'ID: ' + ${car.id} + '; ' + ${car.brand} + '; ' + ${car.model} + '; Price Per Day: €' + ${car.amount}"
                                    th:value="${car.id}" id="chosenCar"/>
                        </th:block>
                    </select>
                </div>
            </div>

                        <div class="form-group row m-2">
                            <label class="col-sm-4 col-form-label">Customer ID</label>
                            <div class="col-sm-8">
                                <input type="hidden" select th:field="*{user}" th:value="${reservation.user.id}"
                                       th:text="${reservation.user.id}" readonly>
                            </div>
                        </div>


            <div class="text-center">
                <button type="button" class="btn btn-secondary m-4" onclick="cancelForm()" style="width: 100px">Cancel
                </button>
                <button type="submit" class="btn btn-primary m-4" style="width: 100px">Update</button>
            </div>


        </div>

    </form>

</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/reservations/all}]]";
    }


</script>

</body>
</html>