<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Page</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>

<div class="container-fluid" style="margin: 10% auto">
    <div class="text-center"><h2>Reservation Step 1 (Car details)</h2></div>




    <script type="text/javascript">
        function GetDays() {
            var dropdt = new Date(document.getElementById("drop_date").value);
            var pickdt = new Date(document.getElementById("pick_date").value);
            return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
        }

        function cal() {
            if (document.getElementById("drop_date")) {
                document.getElementById("numdays2").value = GetDays();
            }
        }

    </script>

    <script type="text/javascript">
        document.getElementById("pickUpDate").value = 'pickDate';
    </script>


    <form th:action="@{/reservations/save}" method="post"
          style="max-width: 700px; margin: 0 auto;">


        <div class="border border-secondary rounded p-3">


            <input type="hidden" name="user" th:value="${user.id}">

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Car</label>
                <div class="col-sm-8 col-auto">
                    <select th:field="${reservation.car}" class="form-control">
                        <th:block>
                            <option th:text="${reservation.car.brand} + ' ' + ${reservation.car.model} + '; Price Per Day: €' + ${reservation.car.amount}"
                                    th:value="${reservation.car.id}" id="chosenCar"/>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Date</label>
                <div class="col-sm-8">
                    <input class="form-control" id="pickUpDate" type="text" name="dateFrom"
                           th:value="${reservation.dateFrom}" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="dateTo"

                           th:value="${reservation.dateTo}"
                           required readonly/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Pick-up Location</label>
                <div class="col-sm-8">
                    <select th:field="${reservation.branch}" class="form-control" required>
                        <th:block>
                            <option th:text="${reservation.branch.branchAddress}" th:value="${reservation.branch.id}"/>
                        </th:block>
                    </select>
                </div>
            </div>


            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Return Location</label>
                <div class="col-sm-8">
                    <input type="text" name="returnDepartment" th:value="${reservation.branch.branchAddress}"
                           class="form-control" required readonly/>
                </div>
            </div>

            <div class="form-group row m-2" id="result">
                <label class="col-sm-4 col-form-label">Amount of Booking</label>
                <div class="col-sm-8">
                    <input type="number" name="amount"
                           th:value="${reservation.amount}" class="form-control form-control" required readonly/>
                </div>
            </div>


        </div>


        <div class="text-center" style="padding-top: 10px"><h2>Reservation Step 2 (Customer details)</h2></div>


        <div class="border border-secondary rounded p-3">
            <div name="user_form">

                <div class="form-group row m-2">
                    <label class="col-sm-4 col-form-label">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" th:value="${user.name}" class="form-control"
                               required/>
                    </div>
                </div>

                <div class="form-group row m-2">
                    <label class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="surname" th:value="${user.surname}" class="form-control"
                               required/>
                    </div>
                </div>

                <div class="form-group row m-2">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" name="email" th:value="${user.email}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row m-2">
                    <label class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <input type="text" name="address" th:value="${user.address}" class="form-control" required/>
                    </div>
                </div>


            </div>
        </div>

        <div th:if="${warningMessage}" class="container-fluid text-center"  style="max-width: 500px; padding-top: 20px">
            <div>
                <div class="alert alert-danger" role="alert">
                    [[${warningMessage}]]
                </div>
            </div>
        </div>


        <div class="text-center" style="padding-top: 10px"><h2>Reservation Step 3 (Confirm Reservation)</h2></div>

        <div class="border border-secondary rounded p-3">

            <div class="text-center">

                <div th:if="! ${warningMessage}">
                    <b>Confirm that everything is correct and proceed further!</b>
                </div>

                <div th:if="${warningMessage}">
                    <b>We are very sorry!</b>
                </div>


                <button type="button" class="btn btn-secondary m-4" onclick="cancelForm()" style="width: 150px">Cancel</button>
                <button th:if="! ${warningMessage}" type="submit" class="btn btn-primary m-4">Confirm Reservation</button>

            </div>

        </div>


    </form>

</div>


<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/home}]]";
    }


</script>

<style>
    input.form-control:read-only {
        background-color: #fff;
    }
</style>

</body>
</html>