<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<div th:replace="fragments/navigation :: navbar">...</div>
<div class="container-fluid text-center">



    <div th:if="${warningMessage}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>

    <div th:if="${message}" class="container-fluid" style="max-width: 500px">
        <div>
            <div class="alert alert-success" role="alert">
                [[${message}]]
            </div>
        </div>
    </div>

    <div style="max-width: 60%; margin: 0 auto">
        <table class="table">
            <thead class="black-05">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Enabled</th>
                <th scope="col">Locked</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="user : ${listUsers}">
                <tr style="text-align: center; vertical-align: middle">
                    <td>[[${user.id}]]</td>
                    <td>[[${user.name}]]</td>
                    <td>[[${user.surname}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.address}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td>[[${user.locked}]]</td>
                    <td>[[${user.userRole}]]</td>
                    <td><a class="btn btn-outline-warning no-margin" style="width: 150px"
                           th:href="@{'/users/edit/'+ ${user.id}}">Update</a></td>
                    <td><a class="btn btn-outline-danger no-margin" style="width: 150px"
                           onclick="return confirm('Are you sure you want to delete this branch?');"
                           th:href="@{'/users/delete/' + ${user.id}}"
                    >Delete</a></td>

            </th:block>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>