<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:replace="fragments/head :: bootstrap">...</div>
</head>
<body>
<!--<div th:replace="fragments/navigation :: navbar">...</div>-->


<div class="container-fluid" style="margin: 10% auto">
    <div class="text-center"><h2>Update User</h2></div>

    <!-- ALLERT MESSAGE -->
    <!--                <div th:if="${message}" class="alert-success text-center">-->
    <!--                    [[${message}]]-->
    <!--                </div>-->


    <div th:if="${warningMessage}" class="container-fluid text-center" style="max-width: 500px">
        <div>
            <div class="alert alert-danger" role="alert">
                [[${warningMessage}]]
            </div>
        </div>
    </div>


    <form th:action="@{/users/update}" method="post" th:object="${user}"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{password}">


        <div class="border border-secondary rounded p-3">
            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{surname}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" readonly required/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{address}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Enabled</label>
                <div class="col-sm-8">


                    <select th:field="*{enabled}" class="form-control" required>
                        <option value="True">True</option>
                        <option value="False">False</option>


                    </select>
                </div>
            </div>


            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Locked</label>
                <div class="col-sm-8">

                    <select th:field="*{locked}" class="form-control" required>
                        <option value="True">True</option>
                        <option value="False">False</option>


                    </select>

                </div>
            </div>

            <div class="form-group row m-2">
                <label class="col-sm-4 col-form-label">Role</label>
                <div class="col-sm-8">


                    <select  th:field="*{userRole}" class="form-control" required>

                        <th:block th:each="userRole : ${T (com.example.final_project_car_rental.model.UserRole).values()}">
                            <option th:value="${userRole}" th:text="${userRole}"/>
                        </th:block>

                    </select>

                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-secondary m-4" style="width: 150px" onclick="cancelForm()">Cancel</button>
                <button type="submit" class="btn btn-primary m-4" style="width: 150px">Update</button>

            </div>

        </div>


    </form>

</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/users/all}]]";
    }
</script>

</body>
</html>